<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Welcome to the Site, <%= @user.name %></h1>
<p>
  You have successfully signed up to our site. Your username is: <%= @user.email %>.<br>
  To login to the site, just follow this link: <%= @url %>.
</p>